<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


        <!-- 1创建目标类 -->
        <bean id="userService" class="com.imooc.spring.aop.a_factory.UserServiceImpl" />

        <!-- 2创建切面类 -->
        <bean id="myAspect" class="com.imooc.spring.aop.a_factory.MyAspect" />

        <!-- 3创建代理类
            使用工厂bean FactoryBean 底层调用getObject() 返回特殊bean
            ProxyFactoryBean 用于创建代理工厂bean 生成特殊代理对象
               interfaces 确定接口们  通过<array>设置多个值   一个时可用 value
               target 目标类
               interceptorNames 通知切面类的名称  类型String[]  如果设置一个值时用value=""
        -->
        <bean id="proxyService" class="org.springframework.aop.framework.ProxyFactoryBean" >
               <property name="interfaces" value="com.imooc.spring.aop.a_factory.UserService" />
               <property name="target" ref="userService" />
               <property name="interceptorNames" value="myAspect" />
        </bean>

</beans>